@font-face {
  font-family: gobal-font; // fzlthk
  src: url("../src/assets/fonts/font5.ttf");
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: gobal-font;
}

.el-menu {
  border-right: none;
}
