@import "assets/icons/iconfont.css";
@result-back-color: #cbcbcb;
@code-back-color: #1e241a;

@font-face {
  font-family: 'fontname';
  src: url('./assets/fonts/youshe.ttf')
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 微软雅黑;
  font-size: 14px;
  position: relative;
}

.el-menu {
  border-right: none;
}

.box-page {
  margin: 10px;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

//滚动条的滑块
::-webkit-scrollbar-thumb {
  background-color: #a1a3a9;
  border-radius: 3px;
}

.el-main {
  padding: 5px 0 !important;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-20 {
  margin-left: 20px;
}

.padding-10 {
  padding: 10px;
}

.indent-10 {
  text-indent: 10px;
}

.width-150 {
  width: 150px;
}

.flex {
  display: flex;
}

.echart-border {
  width: 500px;
  height: 600px;
  border: 1px solid #a6baee;
  border-radius: 2px;
}

.echart-content-border {
  border: 1px solid #a6baee;
  height: calc(100vh - 125px);
  width: calc(100vw - 490px);
  overflow: scroll;
  margin-left: 10px;
  border-radius: 2px;
  background-color: @code-back-color;
  color: #FFF;
}

.CodeMirror {
  height: 100% !important;
  min-height: 300px !important;
}
